body {
    overflow-x: hidden;
}

tr {
    line-height: 1 !important;
}
/*----------------Demo Start---------------------*/
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    /*text-transform: uppercase;*/
    font-size: 1.2rem;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.2);
}
/*----------------Demo End---------------------*/
#sidebar-wrapper {
    /*z-index: 1;*/
    /*position: absolute;*/
    min-width: 250px;
    max-width: 250px;
    /*height: 100%;*/
    background: #018798;
    transition: all 0.3s;
}

#page-content-wrapper {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 60px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

    .sidebar-nav .active a {
        color: #b8f446;
    }

a:not([href]):not([tabindex]) .active {
    color: #b8f446;
}

.header-link {
    vertical-align: -moz-middle-with-baseline;
    color: black;
    padding: 1.09rem;
    
}
.bd-highlight {
    padding: 0.5rem 0.5rem 0.5rem 0rem !important;
}
.header-link:hover {
    color: white;
    background-color: lightgray;
}
.navbar-custom-menu {
    float: right;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav .header-link {
    padding: 20px 15px;
}
.navbar-nav {
    flex-direction: row !important;
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.custom-navbar {
    height: 54px;
    background: grey;
    padding: 0rem 0rem !important;
}
.Date-Time {
    margin-right: 15px;
}
.sidebar-nav li:hover a {
    color: white;
}

.sidebar-nav li:hover {
    background: #c70079;
    color: white !important;
}

.logo-square {
    display: none;
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 99;
    margin-top: 10px;
}

.main-menu-title {
    line-height: 80px;
    color: white;
}

    .main-menu-title h4 {
        line-height: 80px;
        text-align: center;
        color: white;
    }

.sidebar-nav i {
    padding-right: 15px;
    font-size: 1.5rem;
}
/*.sidebar-nav span {
    text-align:center
}*/

.sidebar-nav br {
    display: none;
}

#sidebar-wrapper hr {
    border-top: 1px solid #ffa50066;
}

.copyright-text {
    color: white;
    text-align: center;
}

.sidebar-nav .active {
    background: #055e6a;
    border-left: solid #b8f446;
}
/*To be moved into Home/Index.css */
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    /*border-top: 3px solid #d2d6de;*/
    margin-bottom: 20px;
    width: 100%;
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
}
.logo-text {
    margin-top: 10px;
}
.box-header {
    color: white;
    display: block;
    padding: 10px;
    position: relative;
    background: #018798;
    border-top: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
/*-------------------------------------------*/

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.row {
    margin: 15px;
}


#wrapper.menuDisplayed .sidebar-nav i {
    padding-right: 0px;
    padding-top: 15px;
    font-size: 1.5rem;
}



#wrapper.menuDisplayed #sidebar-wrapper .logo-square {
    display: inline;
}

#wrapper.menuDisplayed #sidebar-wrapper .logo-text {
    display: none;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#wrapper.menuDisplayed .sidebar-nav li span {
    /*display: none;*/
    font-size: 0.8rem;
}

#wrapper.menuDisplayed .sidebar-nav li br {
    display: inline;
    /*font-size: 0.8rem;*/
}

#wrapper.menuDisplayed .sidebar-nav li {
    /*height: 40pt;*/
    line-height: 30px;
    font-size: 1.85em;
    text-indent: 0px;
}

#wrapper.menuDisplayed #sidebar-wrapper {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

/*#wrapper.menuDisplayed #page-content-wrapper {
    padding-right: 80px;
}*/

#wrapper.menuDisplayed .main-menu-title h4 {
    font-size: 1rem;
}

#wrapper.menuDisplayed .copyright-text {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .sidebar-nav i {
        padding-right: 0px;
        padding-top: 15px;
        font-size: 1.5rem;
    }

    #sidebar-wrapper .logo-square {
        display: inline;
    }

    #sidebar-wrapper .logo-text {
        display: none;
    }

    /* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
    .sidebar-nav li span {
        /*display: none;*/
        font-size: 0.8rem;
    }

    .sidebar-nav li br {
        display: inline;
        /*font-size: 0.8rem;*/
    }

    .sidebar-nav li {
        /*height: 40pt;*/
        line-height: 30px;
        font-size: 1.85em;
        text-indent: 0px;
    }

    #sidebar-wrapper {
        min-width: 100px;
        max-width: 100px;
        text-align: center;
    }

    /*#page-content-wrapper {
        padding-right: 80px;
    }*/

    .main-menu-title h4 {
        font-size: 1rem;
    }

    .copyright-text {
        font-size: 0.8rem;
    }

    .sidebar-collapse-toggle {
        display: none;
    }
    .nav-button {
        display: none !important;
    }
    .nav-button {
        display: inline;
    }
    .main-menu-title h4 {
        line-height: 40px;
        text-align: center;
        color: white;
    }
}


/*.sidebar li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}*/
/*.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}*/
/*.sidebar a:hover:not(.active) {
    background-color: #FFA500;
    color: white;
}*/
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
}

.admin-header {
    background: grey;
    padding: 10px;
}

hr {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    color: orange;
}


/*@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}*/
